@model Group
@{
    ViewData["Title"] = Model.GroupName;
}

<div class="row">
    <div class="col-xs-12 col-md-8">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Tracks</h3>
            </div>
            <div class="box-body">
                <div class="grid-container">
                    <table id="tracksGrid"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Analysis</h3>
            </div>
            <div class="box-body">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(spotify.page.groupSingle.init)
    </script>
}