@model GroupSingleViewModel
@{
    ViewData["Title"] = Model.Group.GroupName;
}

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Tracks (@Model.Group.TrackCount)</h3>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Albums (@Model.Group.AlbumCount)</h3>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Artists (@Model.Group.ArtistCount)</h3>
            </div>
            <div class="box-body">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
    </script>
} 