@{
    ViewData["Title"] = "Groups";
}

<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="box box-default">
            <div class="box-header">
            </div>
            <div class="box-body">
                <table id="groupsGrid"></table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(spotify.page.groupsMultiple.init)
    </script>
}
