@model Spotify.Web.ArrayGrid<SpotifyCategory>
@{
    ViewData["Title"] = "Categories";
}



<div>

    @for (var r = 0; r < Model.NumberOfRows; r++)
    {
        <div class="row">

            @for (var c = 0; c < Model.NumberOfCols; c++)
            {

                var current = Model.Grid[r, c];
                if (current is null)
                {
                    <div class="col-3"></div>
                }
                else
                {
                    var image = current.Icons.First();

                    <div class="col-3" style="border: 1px solid black">
                        <h4>@current.Name</h4>
                        <img src="@image.Url" style="width: 100%; height: 80%;" />
                    </div>
                }

            }

        </div>
    }
</div>